infrastructure/docker/nginx/certs/*
infrastructure/docker/pgadmin/servers.json
infrastructure/docker/keycloak/certs/*
infrastructure/docker/keycloak/nbcg-realm.json

.env

docker-compose.yml
docker-compose.ext.yml

config.yml

lib-data/*