// app global css - sass

:root
	--nbcg-primary: #{$primary}
	--nbcg-secondary: #{$secondary}
	--nbcg-accent: #{$accent}
	--nbcg-paper: #{$paper}
	--nbcg-ink: #{$ink}
	--nbcg-muted: #{$muted}
	--nbcg-divider: #{$divider}

body
	background: $paper
	color: $ink

.text-library-primary
	color: $primary !important

.text-library-secondary
	color: $secondary !important

.text-library-accent
	color: $accent !important

.text-library-ink
	color: $ink !important

.text-library-muted
	color: $muted !important

.bg-library-primary
	background-color: $primary !important
	color: $paper !important

.bg-library-secondary
	background-color: $secondary !important
	color: $dark !important

.bg-library-accent
	background-color: $accent !important
	color: $paper !important

.bg-library-paper
	background-color: $paper !important

.border-library-primary
	border-color: $primary !important

.border-library-secondary
	border-color: $secondary !important

.border-library-divider
	border-color: $divider !important
